.container-grid.container-2 {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.html-element.html-element-1 {
  padding: 10px;
}

#YellowBtn.press {
  fill: color(#FCC12D lightness(75%));
}

#BlueBtn.press {
  fill: color(#1976D3 blackness(-25%));
}

#GreenBtn.press {
  fill: color(#388F3C blackness(-25%));
}

#RedBtn.press {
  fill: color(#D42F2F blackness(-25%));
}

#GameOnBtn {
  fill: color(#010001)
}

#GameOnBtn.active {
  fill: color(#fc0e04);
}

#GameOffBtn {
  fill: color(#010001)
}

#GameOffBtn.active {
  fill: color(#fc0e04);
}

#StrictBtn {
  fill: #fac12c
}

#StrictBtn.active {
  fill: color(#5cb85c)
}

#StartBtn circle.active, #LastBtn circle.active, #LongestBtn circle.active {
  fill: color(#5cb85c)
}