.container-grid.container-2 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.html-element.html-element-1 {
  padding: 10px;
}

/*svg > text:focus {*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*fill: green;*/
/*}*/

/*[class$='Btn'] {*/
  /*transition: fill .2s;*/
/*}*/

.yellowBtn.press {
  fill: color(#FCC12D lightness(75%));
}

.blueBtn.press {
  fill: color(#1976D3 blackness(-25%));
    
}

.greenBtn.press {
  fill: color(#388F3C blackness(-25%));
}

.redBtn.press {
  fill: color(#D42F2F blackness(-25%));
}